.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menuButton,
.mobileLinks {
  display: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .menuButton {
    padding-top: 10px;
    display: block;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
  }
  .mobileLinks {
    position: absolute;
    top: 10%;
    right: 18px;
    background-color: var(--bgSoft);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
  }
}
